:root{
    --red: #FF0000;
    --gray:#D9D9D9;
}
 *{
    margin: 0;
 }


button{
    all:unset;
    padding: 6px 16px;
    background: var(--red);
    height:32px;
    color:white;
    font-weight: 500;

}

.login-btn{
    border-radius: 10px;
    margin-right: 10px;
}
.container{
    max-width: 1280 px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    
}   

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero{
    display:flex;
    align-items: center;
    height:calc(100vh-72px);

}

.hero-content{
    display: flex;
    flex-direction: column;
    gap:36px;
}

.hero h1{
    font-weight: 800px;
    line-height: 102px;
    font-size: 108px;
}
.hero p{
    font-weight: 600px;
    color:rebeccapurple;
}

.hero-btn{
    display: flex;
    gap:40px;
    

}
.shop-btn{
    border-radius: 10px;
}

.cat-btn{
    border-radius: 10px;
}
.shopping p{
    font-size: 14px;
    margin-bottom: 8px;
}

.brand-icons{
    display: flex;
    gap:8px;


}
